<a href="https://colab.research.google.com/github/developr4u/practice/blob/master/Automobile_pred.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install tensorflow==2.0.0-rc0

Collecting tensorflow==2.0.0-rc0
  Downloading https://files.pythonhosted.org/packages/fb/4b/77f0965ec7e8a76d3dcd6a22ca8bbd2b934cd92c4ded43fef6bea5ff3258/tensorflow-2.0.0rc0-cp36-cp36m-manylinux2010_x86_64.whl (86.3MB)
     |████████████████████████████████| 86.3MB 1.2MB/s
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0-rc0) (1.1.0)
Collecting tf-estimator-nightly<1.14.0.dev2019080602,>=1.14.0.dev2019080601 (from tensorflow==2.0.0-rc0)
  Downloading https://files.pythonhosted.org/packages/21/28/f2a27a62943d5f041e4a6fd404b2d21cb7c59b2242a4e73b03d9ba166552/tf_estimator_nightly-1.14.0.dev2019080601-py2.py3-none-any.whl (501kB)
     |████████████████████████████████| 501kB 51.4MB/s
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0-rc0) (1.12.0)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0-rc0) (0.8.0)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0-rc0) (0.1.7)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0-rc0) (0.8.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0-rc0) (0.33.6)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0-rc0) (3.1.0)
Requirement already satisfied: gast>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0-rc0) (0.2.2)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0-rc0) (1.16.5)
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0-rc0) (3.7.1)
Collecting tb-nightly<1.15.0a20190807,>=1.15.0a20190806 (from tensorflow==2.0.0-rc0)
  Downloading https://files.pythonhosted.org/packages/bc/88/24b5fb7280e74c7cf65bde47c171547fd02afb3840cff41bcbe9270650f5/tb_nightly-1.15.0a20190806-py3-none-any.whl (4.3MB)
     |████████████████████████████████| 4.3MB 38.8MB/s
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0-rc0) (1.11.2)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0-rc0) (1.1.0)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0-rc0) (1.15.0)
Requirement already satisfied: keras-applications>=1.0.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0-rc0) (1.0.8)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.6.1->tensorflow==2.0.0-rc0) (41.2.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tb-nightly<1.15.0a20190807,>=1.15.0a20190806->tensorflow==2.0.0-rc0) (3.1.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tb-nightly<1.15.0a20190807,>=1.15.0a20190806->tensorflow==2.0.0-rc0) (0.16.0)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.8->tensorflow==2.0.0-rc0) (2.8.0)
Installing collected packages: tf-estimator-nightly, tb-nightly, tensorflow
  Found existing installation: tensorflow 1.15.0rc3
    Uninstalling tensorflow-1.15.0rc3:
      Successfully uninstalled tensorflow-1.15.0rc3
Successfully installed tb-nightly-1.15.0a20190806 tensorflow-2.0.0rc0 tf-estimator-nightly-1.14.0.dev2019080601

In [0]:
import tensorflow as tf
from tensorflow import keras
print(tf.__version__)

2.0.0-rc0

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense,Dropout,Flatten,BatchNormalization
from tensorflow.keras import optimizers

In [0]:
df = pd.read_csv('imports-85.csv',names=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'])

In [0]:
df.head()

   a    b            c    d    e     f  ...     u    v     w   x   y      z
0  3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  13495
1  3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  16500
2  1    ?  alfa-romero  gas  std   two  ...   9.0  154  5000  19  26  16500
3  2  164         audi  gas  std  four  ...  10.0  102  5500  24  30  13950
4  2  164         audi  gas  std  four  ...   8.0  115  5500  18  22  17450

[5 rows x 26 columns]

In [0]:
av = []
for i in df['b']:
  if i == '?':
    i = 100
  av.append(float(i))
df['b'] = av

col_17 = []
for i in df['s']:
  if i == '?':
    i = 3
  col_17.append(float(i))
df['s'] = col_17

col_18 = []
for i in df['t']:
  if i == '?':
    i=3
  col_18.append(float(i))
df['t'] = col_18

label = []
for i in df['v']:
  if i == '?':
    i=10000
  label.append(float(i))
df['v'] = label

k = []
for i in df['w']:
  if i == '?':
    i=0
  k.append(float(i))
df['w'] = k

p = []
for i in df['z']:
  if i == '?':
    i=13207
  p.append(float(i))
df['z'] = p

In [0]:
lb = LabelEncoder()
df['c'] = lb.fit_transform(df['c'])
df['d'] = lb.fit_transform(df['d'])
df['e'] = lb.fit_transform(df['e'])
df['f'] = lb.fit_transform(df['f'])
df['g'] = lb.fit_transform(df['g'])
df['h'] = lb.fit_transform(df['h'])
df['i'] = lb.fit_transform(df['i'])
df['o'] = lb.fit_transform(df['o'])
df['p'] = lb.fit_transform(df['p'])
df['r'] = lb.fit_transform(df['r'])
df.head()

   a      b  c  d  e  f  g  h  ...     s     t     u      v       w   x   y        z
0  3  100.0  0  1  0  2  0  2  ...  3.47  2.68   9.0  111.0  5000.0  21  27  13495.0
1  3  100.0  0  1  0  2  0  2  ...  3.47  2.68   9.0  111.0  5000.0  21  27  16500.0
2  1  100.0  0  1  0  2  2  2  ...  2.68  3.47   9.0  154.0  5000.0  19  26  16500.0
3  2  164.0  1  1  0  1  3  1  ...  3.19  3.40  10.0  102.0  5500.0  24  30  13950.0
4  2  164.0  1  1  0  1  3  0  ...  3.19  3.40   8.0  115.0  5500.0  18  22  17450.0

[5 rows x 26 columns]

In [0]:
x = df.drop(['z'],axis=1)
y = df['z']

In [0]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
a    205 non-null int64
b    205 non-null float64
c    205 non-null int64
d    205 non-null int64
e    205 non-null int64
f    205 non-null int64
g    205 non-null int64
h    205 non-null int64
i    205 non-null int64
j    205 non-null float64
k    205 non-null float64
l    205 non-null float64
m    205 non-null float64
n    205 non-null int64
o    205 non-null int64
p    205 non-null int64
q    205 non-null int64
r    205 non-null int64
s    205 non-null float64
t    205 non-null float64
u    205 non-null float64
v    205 non-null float64
w    205 non-null float64
x    205 non-null int64
y    205 non-null int64
dtypes: float64(10), int64(15)
memory usage: 40.1 KB

In [0]:
scaler = StandardScaler()
x = scaler.fit_transform(x)
x

array([[ 1.74347043, -0.53648807, -1.94825569, ..., -0.10876019,
        -0.64655303, -0.54605874],
       [ 1.74347043, -0.53648807, -1.94825569, ..., -0.10876019,
        -0.64655303, -0.54605874],
       [ 0.133509  , -0.53648807, -1.94825569, ..., -0.10876019,
        -0.95301169, -0.69162706],
       ...,
       [-1.47645244, -0.68889946,  1.40664061, ...,  0.61278798,
        -1.10624102, -1.12833203],
       [-1.47645244, -0.68889946,  1.40664061, ..., -0.39737946,
         0.11959362, -0.54605874],
       [-1.47645244, -0.68889946,  1.40664061, ...,  0.46847835,
        -0.95301169, -0.83719538]])

In [0]:
y = y.to_numpy()
y

array([13495., 16500., 16500., 13950., 17450., 15250., 17710., 18920.,
       23875., 13207., 16430., 16925., 20970., 21105., 24565., 30760.,
       41315., 36880.,  5151.,  6295.,  6575.,  5572.,  6377.,  7957.,
        6229.,  6692.,  7609.,  8558.,  8921., 12964.,  6479.,  6855.,
        5399.,  6529.,  7129.,  7295.,  7295.,  7895.,  9095.,  8845.,
       10295., 12945., 10345.,  6785., 13207., 13207., 11048., 32250.,
       35550., 36000.,  5195.,  6095.,  6795.,  6695.,  7395., 10945.,
       11845., 13645., 15645.,  8845.,  8495., 10595., 10245., 10795.,
       11245., 18280., 18344., 25552., 28248., 28176., 31600., 34184.,
       35056., 40960., 45400., 16503.,  5389.,  6189.,  6669.,  7689.,
        9959.,  8499., 12629., 14869., 14489.,  6989.,  8189.,  9279.,
        9279.,  5499.,  7099.,  6649.,  6849.,  7349.,  7299.,  7799.,
        7499.,  7999.,  8249.,  8949.,  9549., 13499., 14399., 13499.,
       17199., 19699., 18399., 11900., 13200., 12440., 13860., 15580.,
       16900., 16695., 17075., 16630., 17950., 18150.,  5572.,  7957.,
        6229.,  6692.,  7609.,  8921., 12764., 22018., 32528., 34028.,
       37028., 13207.,  9295.,  9895., 11850., 12170., 15040., 15510.,
       18150., 18620.,  5118.,  7053.,  7603.,  7126.,  7775.,  9960.,
        9233., 11259.,  7463., 10198.,  8013., 11694.,  5348.,  6338.,
        6488.,  6918.,  7898.,  8778.,  6938.,  7198.,  7898.,  7788.,
        7738.,  8358.,  9258.,  8058.,  8238.,  9298.,  9538.,  8449.,
        9639.,  9989., 11199., 11549., 17669.,  8948., 10698.,  9988.,
       10898., 11248., 16558., 15998., 15690., 15750.,  7775.,  7975.,
        7995.,  8195.,  8495.,  9495.,  9995., 11595.,  9980., 13295.,
       13845., 12290., 12940., 13415., 15985., 16515., 18420., 18950.,
       16845., 19045., 21485., 22470., 22625.])

In [0]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [0]:
x_train.shape,x_test.shape

((164, 25), (41, 25))

In [0]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
model1 = LinearRegression()
model1.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
y_prediction = model1.predict(x_test)

In [0]:
score = r2_score(y_test,y_prediction)
mae = mean_absolute_error(y_test,y_prediction)
mse = mean_squared_error(y_test,y_prediction)

print('r2_score:',score)
print('mae:' , mae)
print('mse:', mse)

r2_score: 0.8668288993772336
mae: 2314.1451288409894
mse: 9127117.545908017

In [0]:
view =pd.DataFrame(data=[y_prediction,y_test])

In [0]:
view.T

               0        1
0    5340.049330   6855.0
1    6166.772393   5389.0
2   23507.788320  21485.0
3   11775.813949   8845.0
4   11384.426592  12945.0
5    9636.809317   8195.0
6    8815.759229   9538.0
7    5280.438837   6692.0
8   14659.810351  15250.0
9   26400.613152  31600.0
10  10876.027272  10945.0
11   7008.192270   7129.0
12   6317.220311   7738.0
13  14188.241633  16925.0
14  11658.204814   9279.0
15  11632.088836   8949.0
16   5608.555103  13207.0
17   7563.933825   9298.0
18  35283.496809  37028.0
19  33110.818080  34184.0
20   7724.169461   9233.0
21  19129.032754  15690.0
22   6193.512507  13207.0
23  18666.061243  16503.0
24  20455.327984  15040.0
25  24366.180994  25552.0
26  13414.319920  13295.0
27  30311.020074  32250.0
28  34028.000000  32528.0
29  18708.815300  21105.0
30   9662.509154   8495.0
31  15124.143517  12629.0
32  18111.530726  19045.0
33   6867.924795   7499.0
34  19276.420511  13200.0
35  12091.916985   9989.0
36   9130.230197   6989.0
37  21132.330480  13499.0
38   8418.704258  10198.0
39  12467.854761  15645.0
40   9964.524422  10295.0